body {
  margin: 0;
  background: #fafbfc;
  color: #080808;
}
.header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
.section {
  padding-top: 36px;
  padding-bottom: 36px;
}
